*{
    background-color: cadetblue;
}
h1{
    color: chocolate;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}
label{
    text-align: center;
    font-size: 40px;
    
    font-weight: bolder;
    justify-content: center;
    align-items: center;

}
input{
    font-size: 30px;
    border-color: black;
    background-color: aliceblue;

}
button{
    font-size: 30px;
    font-weight: bolder;
    background-color: grey;
}
p{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    
   
}
    
